BASE_RPC_URL=https://base-mainnet.quiknode.pro/YOUR_KEY/
PRIVATE_KEY=0x
KEEPERHUB_API_KEY=
AXL_NODE_PORT=9002

IDENTITY_REGISTRY_ADDRESS=0x8004A169FB4a3325136EB29fA0ceB6D2e539a432
REPUTATION_REGISTRY_ADDRESS=0x8004B663056A597Dffe9eCcC1965A193B7388713
